.candidates{
    background-image: url(img/bg_emloyees.png);
    overflow: hidden;
    background-color: $bg_black;
    h2{
        @include line_decoration($white, url(img/Vector_text_white.svg));
        @extend %for_h2;
    }
    &__elem{
        overflow: hidden;
        width: 100%;
        margin: 10px auto;
        position: relative;
        .mins{
            @extend %flex-active;
            flex-direction: row;
        }
        .elem{
            width: 300px;
            text-align: center;
            color: $white;
            font-family: $font_text;
            padding: 0px 30px;
            .face{
                width: 200px;
                height: 200px;
                border: 3px solid $white;
                border-radius: 100%;
                overflow: hidden;
                margin: 20px auto 20px auto;
                padding: 5px;
                .border{
                    width: 100%;
                    height: 100%;
                    border-radius: 100%;
                    overflow: hidden;   
                    img{
                        width: 100%;
                        height: 100%;
    
                    }
                }
                
            }
            span{
                color: $gray;
                font-size: 12px;
                margin: 15px 0;
                display: block; 
            }
            .social{
                border-top: 2px solid $gold;
                margin-top: 20px;
            }
        }
    }
}