.contact{
    background-image: url(img/bg_process.png);
    background-blend-mode:overlay;
    overflow: hidden;
    position: relative;
    &::before{
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-image: linear-gradient(270deg, #f4f2f2e0 18.35%, #fffffff8 100%);
    }
    .container{
        @extend %flex-active;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    h2{
        @include line_decoration($black, url(img/h2_decor_black.png));
        @extend %for_h2;
    }
    &__form{
        width: 700px;
        text-align: center;
        padding: 0px 15px;
        @include xl{
            margin: 0px auto;
        }
        p{
            color: $gray;
            margin: 30px 20px 15px 20px;
            display: block;
        }
        form{
            @extend %flex-active;
            flex-wrap: wrap;
            justify-content: space-between;
            @include md{
                justify-content: center;
            }
        }
        input, textarea{
            min-width: 325px;
            padding: 15px 20px;
            font-family: $font_text;
            font-size: 20px;
            outline: 1px solid $gray;
            border: none;
            display: block;
            margin-top: 20px;
            &::placeholder{
                color: $gray;
            }
            &:focus-visible{
                outline: 2px solid $gold;
            }
            &:-internal-autofill-selected{
                background-color: #dcc54f81!important;
            } 
        }
        textarea{
            width: 100%;
            height: 200px;
            resize: none;
            @include md{
                width: 325px;
            }
        }
        button{
            margin-top: 20px;
            min-width: 325px;
            padding: 5px 20px;
            border: none;
            font-weight: bold;
            font-size: 16px;
            @extend %button_effect;
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0)!important;
            &:hover{
                background-color: none;
                color: $black;
            }
            @include md{
                padding: 18px 20px;
            }
        }    
        
        // [type$=text] {background-color: #c9c9c9;}
    }
    &__bar{
        width: 30%;
        border-left: 2px solid $gold;
        padding-top: 40px;
        @include xl{
            display: flex;
            width: 700px;
            margin: 0px auto;
            flex-wrap: wrap;
            border: none;
        }
        @include sm{
            flex-direction: column;
        }
        &_social, &_phone, &_email, &_adress{
            width: 250px;
            margin: 0px auto;
            border-bottom: 2px solid $gold;
            text-align: left;
            margin-bottom: 40px;
            @include xl{
                border: none;
            }
            @include sm{
                text-align: center;
                border-bottom: 2px solid $gold;
            }
            span{
                font-size: 14px;
                font-weight: bold;
                text-transform: uppercase;
                font-family: $font_text;
                margin-left: 5px;
            }
            .social{
                justify-content: start;
                padding: 30px 0;
                @include sm{
                    justify-content: center;
                }
            }
        }
        &_email{
            @include xl{
                margin-bottom: 0;
            }
            @include sm{
                margin-bottom: 40px;
            }
        }
        &_adress{
            margin-bottom: 0;
            border: none;
        }
    }
}