.fixed{
    position: fixed!important;
    z-index: 10000;
    transition: all 250ms ease-in-out;
    background-color: $black!important;
    .header__container{
        height: 50px!important;
        @extend %anim;
    }
    .header__logo{
        width: 56px!important;
        height: 56px!important;
        margin-top: 30px;
        margin-left: 30px;
        transition: all 450ms ease-in-out;
        background-color: $black!important;
        img{
            width: 100px!important;
            margin: -6px 0px 0px -4px;
            transition: all 450ms ease-in-out;
        }
    }
    .lang{
        @extend %flex-active;
        padding-left: 5px;
        
        li{
            transition: all 750ms ease-in-out;
            margin: 0 5px!important;
        }
    }
}


.header{
    min-height: 0px;
    background-color: $bg_black;
    position: absolute;
    top: 0;
    left: 0px;
    right: 0px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0, 0.1);
    &__container{
        max-width: 1100px;
        display: flex;
        justify-content: space-between;
        height: 100px;
        align-items: center;
        margin: 0 auto;
        @include lg{
            justify-content: center;
        }
        @extend %anim;
    }
    &__logo{
        background-color: $bg_black;
        width: 120px;
        height: 120px;
        border-radius: 100%;
        margin-top: 50px;
        transition: all 550ms ease-in-out!important;
        img{
            width: 210px;
            margin: -7px 0px 0px -8px;
            transition: all 550ms ease-in-out!important;
        }
        @include xl{
            margin-left: 20px;
        }
    }
    &__menu{
        @extend %flex-active;
        align-items: center;
        position: relative;
        font: {
            family: $font_text;
            size: 16px;
        }
        @include lg{
            position: absolute;
            right: 15px;
        }
        @include md{
            right: 0px;
        }
        .lang{
            border-left: 1px solid $white;
            li{
                margin: 0px 10px;
                a{
                    transition: all 150ms ease-in-out;
                }   
            }
            img{
                transition: all 150ms ease-in-out;
            }
            img:hover{
                box-shadow: 0 0 20px 0 rgba(220, 196, 79, 1) inset, 0 0 30px 2px rgba(220, 196, 79, 1);
                border-radius: 100%;
            }
            
        }
        >li{
            margin: 0px 10px;
            
            a{
                color: $white;
                transition: all 150ms ease-in-out;
                &:hover{
                   color: $gold;
                }
            }
            &:nth-last-child(1){
                @include lg{
                    display: block;
                }
            }
            @include lg{
                display: none;
            }
        }
        
    }
}