.main{
    background-image: url(img/bg_main.png);
    @extend %bg;
    text-align: center;

    h1{
        font:{
            family: $font_heading;
            weight: 100;
            size: 90px;
        }

        color: $white;
        margin-top: 250px;
        text: {
            align: center;
            shadow: 1px 1px 0px $black;
        }
    }
    p{
        color: $white;
        margin: 30px 0 45px 0px;
    }
    a{
        padding: 15px 60px;
        color: $black;
        position: relative;
        z-index: 100;
        @extend %button_effect;
    }


}