.process{
    background-image: url(img/bg_process.png);
    overflow: hidden;
    min-height: 480px;
    position: relative;
    &::before{
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-image: linear-gradient(270deg, #f4f2f2e0 18.35%, #fffffff8 100%);
    }
    h2{
        @include line_decoration($black, url(img/h2_decor_black.png));
        @extend %for_h2;
    }
    &__icon{
        @extend %flex-active;
        justify-content: space-evenly;
        flex-wrap: wrap;
        li{
            width: 150px;
            @include sm{
                width: 200px;
            }
            .process__icon__img{
                @include sm{
                    margin-left: 45px!important;
                }
            }
            &:nth-child(1){
                .process__icon__img{
                    @include bg_icon(url(img/process_icon_profile.png))
                }
            }
            &:nth-child(2){
                .process__icon__img{
                    @include bg_icon(url(img/process_icon_work.png))
                }
            }
            &:nth-child(3){
                .process__icon__img{
                    @include bg_icon(url(img/process_icon_group.png))
                }
            }
            &:nth-child(4){
                .process__icon__img{
                    @include bg_icon(url(img/process_icon_money.png))
                }
            }
            p{
                text-align: center;
            }
        }

    }
    
}