//Шрифты
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Playfair+Display:wght@400;500;600;700&display=swap');
$font_heading: 'Playfair Display', serif;
$font_text: 'Lato', sans-serif;

//Палитры
$white:#fff;
$black:#000;
$gold:#dcc44f;
$gray:#b8b7b7;
$bg_black:rgba(0, 0, 0, 0.8);

//Фон
%bg {
    background: {
        repeat: no-repeat;
        position: center center;
        size:cover;
        attachment: fixed;
    }
    overflow: hidden;
}


@mixin bg_icon($img){
        height: 110px;
        width: 110px;
        border-radius: 100%;
        background-color: $white;
        position: relative;
        margin: 50px 0px 20px 20px;
            &::after{
                content: "";
                display: block;
                width: 130px;
                height: 130px;
                border: 1px solid $black;
                border-radius: 100%;
                position: absolute;
                top: -11px;
                left: -11px;
                    }
    background: {
        image: $img;
        repeat: no-repeat;
        position: center;
        size: 80px;
    }
}

@mixin aboutUs_icon($img){
    background: {
        image: $img;
        repeat: no-repeat;
        position: center;
        size: 100%;
    }
    width: 50px;
    height: 70px;
}

@mixin line_decoration($color, $img) {
    color: $color;
    &::after{
        content: $img;
        display: block;
    }
}

%for_h2 {
    text-align: center;
    font:{
        family: $font_heading;
        weight:600;
        size: 36px;
    } 

}

%flex-active{
    display: flex;
}
@mixin xl() {
    @media screen and (max-width:1200px) {
        @content;
    }
}
@mixin lg() {
    @media screen and (max-width:992px) {
        @content;
    }
}
@mixin md() {
    @media screen and (max-width:768px) {
        @content;
    }
}
@mixin sm() {
    @media screen and (max-width:576px) {
        @content;
    }
}
