@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400&family=Lato:wght@400;700&family=Playfair+Display:wght@400;500;700&display=swap");
.header__container, .fixed .header__container {
  transition: all 550ms ease-in-out;
}

.aboutUs, .main {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

.app a, .contact__form button, .main a {
  text-transform: uppercase;
  box-shadow: 0 0 40px 40px #dcc44f inset, 0 0 0 0 #dcc44f;
  transition: all 150ms ease-in-out;
}
.app a:hover, .contact__form button:hover, .main a:hover {
  color: #dcc44f;
  box-shadow: 0 0 10px 0 #dcc44f inset, 0 0 10px 4px #dcc44f;
  font-weight: 500;
}

.aboutUs__text h2, .app h2, .candidates h2, .contact h2, .partner h2, .process h2 {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 36px;
}

.candidates__elem .mins, .contact__form form, .contact .container, .count .container, .header__menu, .fixed .lang, .partner__items .item, .partner__items, .process__icon, .social {
  display: flex;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

.container {
  max-width: 1100px;
  margin: 100px auto;
}

section {
  min-height: 750px;
}

a {
  text-decoration: none;
  font-family: "Lato", sans-serif;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.9em;
}

li {
  list-style-type: none;
}

.social {
  justify-content: center;
  padding-top: 10px;
}
.social li {
  padding: 0px 5px;
}
.social li a {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 100%;
}
.social li .soc-text {
  width: auto;
  color: #000;
}
.social li .facebook-gold {
  background-image: url(img/facebook.svg);
}
.social li .instagram-gold {
  background-image: url(img/instagram.svg);
}
.social li .telegram-gold {
  background-image: url(img/telegram.svg);
}
.social li .facebook-gray {
  background-image: url(img/facebook-gray.svg);
}
.social li .facebook-gray:hover {
  background-image: url(img/facebook.svg);
}
.social li .instagram-gray {
  background-image: url(img/instagram-gray.svg);
}
.social li .instagram-gray:hover {
  background-image: url(img/instagram.svg);
}
.social li .telegram-gray {
  background-image: url(img/telegram-gray.svg);
}
.social li .telegram-gray:hover {
  background-image: url(img/telegram.svg);
}
.social li .phone-gold {
  background-image: url(img/call.svg);
}
.social li .email-gold {
  background-image: url(img/envelope.svg);
}
.social li .adress-gold {
  background-image: url(img/maps-and-flags.svg);
}

.carusel_dots {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.carusel_dot {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  list-style-type: none;
  cursor: pointer;
  border: 1px solid #fff;
  margin: 5px;
  z-index: 1;
}

.carusel_btn {
  width: 100%;
  position: absolute;
  top: 0;
}

.arrow_left, .arrow_right {
  position: absolute;
  top: 170px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  list-style-type: none;
  font-size: 60px;
  color: #fff;
}

.arrow_left {
  left: -4px;
}

.arrow_right {
  right: -4px;
}

.up {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  z-index: 1300;
  cursor: pointer;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.473);
  border: 1px solid rgba(0, 0, 0, 0.473);
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #000;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #dcc44f;
  border: 1px solid #000;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #000;
  border-left: 1px solid #dcc44f;
}

.element-animation {
  opacity: 0;
  transform: translateY(-20px);
}

.element-animation.element-show {
  opacity: 1;
  transition: all 2s;
  transform: translateY(0%);
}

.process {
  background-image: url(img/bg_process.png), linear-gradient(270deg, #F4F2F2 18.35%, #fffffffa 100%);
  background-blend-mode: overlay;
  overflow: hidden;
  min-height: 480px;
}
.process h2 {
  color: #000;
}
.process h2::after {
  content: url(img/h2_decor_black.png);
  display: block;
}
.process__icon {
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.process__icon li {
  width: 150px;
}
@media screen and (max-width: 576px) {
  .process__icon li {
    width: 200px;
  }
}
@media screen and (max-width: 576px) {
  .process__icon li .process__icon__img {
    margin-left: 45px !important;
  }
}
.process__icon li:nth-child(1) .process__icon__img {
  height: 110px;
  width: 110px;
  border-radius: 100%;
  background-color: #fff;
  position: relative;
  margin: 50px 0px 20px 20px;
  background-image: url(img/process_icon_profile.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80px;
}
.process__icon li:nth-child(1) .process__icon__img::after {
  content: "";
  display: block;
  width: 130px;
  height: 130px;
  border: 1px solid #000;
  border-radius: 100%;
  position: absolute;
  top: -11px;
  left: -11px;
}
.process__icon li:nth-child(2) .process__icon__img {
  height: 110px;
  width: 110px;
  border-radius: 100%;
  background-color: #fff;
  position: relative;
  margin: 50px 0px 20px 20px;
  background-image: url(img/process_icon_work.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80px;
}
.process__icon li:nth-child(2) .process__icon__img::after {
  content: "";
  display: block;
  width: 130px;
  height: 130px;
  border: 1px solid #000;
  border-radius: 100%;
  position: absolute;
  top: -11px;
  left: -11px;
}
.process__icon li:nth-child(3) .process__icon__img {
  height: 110px;
  width: 110px;
  border-radius: 100%;
  background-color: #fff;
  position: relative;
  margin: 50px 0px 20px 20px;
  background-image: url(img/process_icon_group.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80px;
}
.process__icon li:nth-child(3) .process__icon__img::after {
  content: "";
  display: block;
  width: 130px;
  height: 130px;
  border: 1px solid #000;
  border-radius: 100%;
  position: absolute;
  top: -11px;
  left: -11px;
}
.process__icon li:nth-child(4) .process__icon__img {
  height: 110px;
  width: 110px;
  border-radius: 100%;
  background-color: #fff;
  position: relative;
  margin: 50px 0px 20px 20px;
  background-image: url(img/process_icon_money.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80px;
}
.process__icon li:nth-child(4) .process__icon__img::after {
  content: "";
  display: block;
  width: 130px;
  height: 130px;
  border: 1px solid #000;
  border-radius: 100%;
  position: absolute;
  top: -11px;
  left: -11px;
}
.process__icon li p {
  text-align: center;
}

.partner {
  overflow: hidden;
  min-height: 480px;
  background-color: #dcc44f;
  position: relative;
}
.partner h2 {
  color: #000;
}
.partner h2::after {
  content: url(img/h2_decor_black.png);
  display: block;
}
.partner__items {
  justify-content: space-evenly;
  margin: 30px 0 0 0;
  flex-wrap: wrap;
}
.partner__items .item {
  border: 1px solid #000;
  padding: 10px 15px;
  flex-wrap: wrap;
  align-content: center;
  margin: 10px 0 0 0;
  width: 150px;
  justify-content: center;
  transition: all 150ms ease-in-out;
}
.partner__items .item:hover {
  box-shadow: 0 0 10px 0 #dcc44f inset, 0 0 10px 1px rgba(0, 0, 0, 0.8);
}
.partner__items .item img {
  max-width: 130px;
  max-height: 60px;
}

.main {
  background-image: url(img/bg_main.png);
  text-align: center;
}
.main h1 {
  font-family: "Playfair Display", serif;
  font-weight: 100;
  font-size: 90px;
  color: #fff;
  margin-top: 250px;
  text-align: center;
  text-shadow: 1px 1px 0px #000;
}
.main p {
  color: #fff;
  margin: 30px 0 45px 0px;
}
.main a {
  padding: 15px 60px;
  color: #000;
  position: relative;
  z-index: 100;
}

.fixed {
  position: fixed !important;
  z-index: 10000;
  transition: all 250ms ease-in-out;
  background-color: #000 !important;
}
.fixed .header__container {
  height: 50px !important;
}
.fixed .header__logo {
  width: 56px !important;
  height: 56px !important;
  margin-top: 30px;
  margin-left: 30px;
  transition: all 450ms ease-in-out;
  background-color: #000 !important;
}
.fixed .header__logo img {
  width: 100px !important;
  margin: -6px 0px 0px -4px;
  transition: all 450ms ease-in-out;
}
.fixed .lang {
  padding-left: 5px;
}
.fixed .lang li {
  transition: all 750ms ease-in-out;
  margin: 0 5px !important;
}

.header {
  min-height: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0px;
  right: 0px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}
.header__container {
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  margin: 0 auto;
}
@media screen and (max-width: 992px) {
  .header__container {
    justify-content: center;
  }
}
.header__logo {
  background-color: rgba(0, 0, 0, 0.8);
  width: 120px;
  height: 120px;
  border-radius: 100%;
  margin-top: 50px;
  transition: all 550ms ease-in-out !important;
}
.header__logo img {
  width: 210px;
  margin: -7px 0px 0px -8px;
  transition: all 550ms ease-in-out !important;
}
@media screen and (max-width: 1200px) {
  .header__logo {
    margin-left: 20px;
  }
}
.header__menu {
  align-items: center;
  position: relative;
  font-family: "Lato", sans-serif;
  font-size: 16px;
}
@media screen and (max-width: 992px) {
  .header__menu {
    position: absolute;
    right: 15px;
  }
}
@media screen and (max-width: 768px) {
  .header__menu {
    right: 0px;
  }
}
.header__menu .lang {
  border-left: 1px solid #fff;
}
.header__menu .lang li {
  margin: 0px 10px;
}
.header__menu .lang li a {
  transition: all 150ms ease-in-out;
}
.header__menu .lang img {
  transition: all 150ms ease-in-out;
}
.header__menu .lang img:hover {
  box-shadow: 0 0 20px 0 #dcc44f inset, 0 0 30px 2px #dcc44f;
  border-radius: 100%;
}
.header__menu > li {
  margin: 0px 10px;
}
.header__menu > li a {
  color: #fff;
  transition: all 150ms ease-in-out;
}
.header__menu > li a:hover {
  color: #dcc44f;
}
@media screen and (max-width: 992px) {
  .header__menu > li:nth-last-child(1) {
    display: block;
  }
}
@media screen and (max-width: 992px) {
  .header__menu > li {
    display: none;
  }
}

.footer {
  overflow: hidden;
  background-color: #000;
  color: #b8b7b7;
  text-align: center;
  min-height: 0;
}
.footer h3 {
  font-family: "Playfair Display", serif;
  font-weight: 100;
  font-size: 34px;
}
.footer .social {
  margin: 30px 0;
}
.footer span {
  font-size: 12px;
  font-family: "Playfair Display", serif;
}

.count {
  background-image: url(img/bg_process.png), linear-gradient(70deg, #F4F2F2 18.35%, #fffffffa 100%);
  background-blend-mode: overlay;
  overflow: hidden;
  min-height: 480px;
  z-index: 1;
}
.count .container {
  justify-content: space-around;
  align-items: center;
  text-align: center;
  align-content: center;
  min-height: 280px;
}
.count .container .item {
  z-index: 100;
  min-width: 200px;
  position: relative;
}
.count .container .item::after {
  content: "";
  display: block;
  width: 110px;
  height: 10px;
  background-color: #dcc44f;
  position: absolute;
  bottom: 60px;
  z-index: -1;
  left: 40px;
}
.count .container .item span {
  font-size: 80px;
  font-family: "Big Shoulders Display", cursive;
  z-index: 2;
}
.count .container .item p {
  color: #b8b7b7;
}

.contact {
  background-image: url(img/bg_process.png), linear-gradient(270deg, #F4F2F2 18.35%, #fffffffa 100%);
  background-blend-mode: overlay;
  overflow: hidden;
}
.contact .container {
  justify-content: space-between;
}
.contact h2 {
  color: #000;
}
.contact h2::after {
  content: url(img/h2_decor_black.png);
  display: block;
}
.contact__form {
  width: 700px;
  text-align: center;
  padding: 0px 15px;
}
.contact__form p {
  color: #b8b7b7;
  margin: 30px 20px 15px 20px;
  display: block;
}
.contact__form form {
  flex-wrap: wrap;
  justify-content: space-between;
}
.contact__form input, .contact__form textarea {
  min-width: 325px;
  padding: 15px 20px;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  outline: 1px solid #b8b7b7;
  border: none;
  display: block;
  margin-top: 20px;
}
.contact__form input::placeholder, .contact__form textarea::placeholder {
  color: #b8b7b7;
}
.contact__form input:focus-visible, .contact__form textarea:focus-visible {
  outline: 2px solid #dcc44f;
}
.contact__form input:-internal-autofill-selected, .contact__form textarea:-internal-autofill-selected {
  background-color: #dcc54f81 !important;
}
.contact__form textarea {
  width: 100%;
  height: 200px;
  resize: none;
}
.contact__form button {
  margin-top: 20px;
  min-width: 325px;
  padding: 5px 20px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0) !important;
}
.contact__form button:hover {
  background-color: none;
  color: #000;
}
.contact__bar {
  width: 30%;
  border-left: 2px solid #dcc44f;
  padding-top: 40px;
}
.contact__bar_social, .contact__bar_phone, .contact__bar_email, .contact__bar_adress {
  width: 250px;
  margin: 0px auto;
  border-bottom: 2px solid #dcc44f;
  text-align: left;
  margin-bottom: 40px;
}
.contact__bar_social span, .contact__bar_phone span, .contact__bar_email span, .contact__bar_adress span {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  margin-left: 5px;
}
.contact__bar_social .social, .contact__bar_phone .social, .contact__bar_email .social, .contact__bar_adress .social {
  justify-content: start;
  padding: 30px 0;
}
.contact__bar_adress {
  margin-bottom: 0;
  border: none;
}

.candidates {
  background-image: url(img/bg_emloyees.png);
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
}
.candidates h2 {
  color: #fff;
}
.candidates h2::after {
  content: url(img/Vector_text_white.svg);
  display: block;
}
.candidates__elem {
  overflow: hidden;
  width: 100%;
  margin: 10px auto;
  position: relative;
}
.candidates__elem .mins {
  flex-direction: row;
}
.candidates__elem .elem {
  width: 300px;
  text-align: center;
  color: #fff;
  font-family: "Lato", sans-serif;
  padding: 0px 30px;
}
.candidates__elem .elem .face {
  width: 200px;
  height: 200px;
  border: 3px solid #fff;
  border-radius: 100%;
  overflow: hidden;
  margin: 20px auto 20px auto;
  padding: 5px;
}
.candidates__elem .elem .face .border {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  overflow: hidden;
}
.candidates__elem .elem .face .border img {
  width: 100%;
  height: 100%;
}
.candidates__elem .elem span {
  color: #b8b7b7;
  font-size: 12px;
  margin: 15px 0;
  display: block;
}
.candidates__elem .elem .social {
  border-top: 2px solid #dcc44f;
  margin-top: 20px;
}

.app {
  background-image: url(img/bg_app.png);
  overflow: hidden;
  min-height: 480px;
  background-color: rgba(0, 0, 0, 0.8);
}
.app h2 {
  color: #fff;
}
.app h2::after {
  content: url(img/Vector_text_white.svg);
  display: block;
}
.app a {
  text-align: center;
  margin: 50px auto;
  display: block;
  padding: 25px 0;
  width: 400px;
  color: #000;
  font-size: 30px;
}

.aboutUs {
  background-image: url(img/bg_about-us.png);
  text-align: center;
}
.aboutUs .border-circle {
  background-image: url(img/border-circle.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  height: 600px;
  width: 700px;
  margin: 200px auto 0 auto;
  position: relative;
}
@media screen and (max-width: 768px) {
  .aboutUs .border-circle {
    width: auto;
    padding: 0px 25px;
    margin: 50px auto 0px auto;
    display: flex;
    background: none;
  }
}
.aboutUs__text {
  background-color: rgba(0, 0, 0, 0.8);
  width: 300px;
  margin: auto;
  padding: 15px;
  position: absolute;
  left: -50%;
  right: -50%;
  top: -100px;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .aboutUs__text {
    padding: 0px 15px;
    width: 100%;
    background: none !important;
    position: relative !important;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
  }
}
.aboutUs__text h2 {
  margin: 50px 0 100px 0;
  color: #dcc44f;
}
.aboutUs__text h2::after {
  content: url(img/h2_decor_gold.png);
  display: block;
}
.aboutUs__text h3 {
  font-size: 20px;
  font-family: "Lato", sans-serif;
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .aboutUs__text h3 {
    margin-bottom: 5px;
    font-size: 16px;
    text-align: left;
  }
}
.aboutUs__text p {
  height: 150px;
  margin: 0px 15px 30px 15px;
}
@media screen and (max-width: 768px) {
  .aboutUs__text p {
    height: auto;
    text-align: left;
    margin: 0;
    font-size: 14px;
  }
}
.aboutUs__icons .icon {
  position: absolute;
  cursor: pointer;
  transition: all 0.5s ease-out 0.4s;
}
@media screen and (max-width: 768px) {
  .aboutUs__icons .icon {
    width: 100px !important;
    background-size: 70px !important;
    margin-bottom: 10px;
    border: 1px solid #fff;
    border-radius: 100%;
    position: relative;
    height: 100px !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
  }
}
.aboutUs__icons .icon:nth-child(1) {
  background-image: url(img/about-us_icon_gwarant.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 60px;
  height: 80px;
  top: 87px;
  left: 70px;
}
.aboutUs__icons .icon:nth-child(2) {
  background-image: url(img/about-us_icon_love.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 60px;
  height: 80px;
  bottom: 215px;
  left: 33px;
}
.aboutUs__icons .icon:nth-child(3) {
  background-image: url(img/about-us_icon_search.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 60px;
  height: 80px;
  bottom: 38px;
  left: 170px;
}
.aboutUs__icons .icon:nth-child(4) {
  background-image: url(img/about-us_icon_bell.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 60px;
  height: 80px;
  bottom: 42px;
  right: 170px;
}
.aboutUs__icons .icon:nth-child(5) {
  background-image: url(img/about-us_icon_docs.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 60px;
  height: 80px;
  bottom: 215px;
  right: 35px;
}
.aboutUs__icons .icon:nth-child(6) {
  background-image: url(img/about-us_icon_profile.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 60px;
  height: 80px;
  top: 90px;
  right: 67px;
}
.aboutUs .tabs .active {
  transform: scale(1.5);
}
@media screen and (max-width: 768px) {
  .aboutUs .tabs .active {
    transform: none;
  }
}
.aboutUs .items {
  height: 260px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .aboutUs .items {
    height: auto;
  }
}
.aboutUs .items .active {
  pointer-events: all !important;
  opacity: 1 !important;
  transform: translateY(0) !important;
  transition: all 0.5s ease-out 0.4s !important;
}
.aboutUs .items .item {
  width: 100%;
  position: absolute;
  top: 0;
  opacity: 0;
  transform: translateY(3px);
  pointer-events: none;
  transition: all 0.3s ease-in;
}
@media screen and (max-width: 768px) {
  .aboutUs .items .item {
    position: relative;
    opacity: 1;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.8);
    margin: 0px 0px 10px 25px;
    border-radius: 20px;
    width: auto;
    padding: 10px 15px;
  }
}

/*# sourceMappingURL=style.css.map */
